* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/image/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.overall-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
}

h1 {
  margin: 1rem;
  color: white;
  font-weight: 800;
  font-size: 2rem;
}

.wrapper {
  width: 100%;
  background-color: #100f0f;
  border-radius: 9px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  max-height: 300px;
  box-shadow: 1px 1px 1px rgba(20, 24, 242, 0.9);
}
.wrapper div {
  text-align: center;
  padding: 5px;
}
p {
  font-size: 2rem;
  padding: 1rem;
  color: white;
}
@media screen and (max-width: 500px) {
  .overall-container {
    width: 97%;
    padding: 1rem;
  }
  .wrapper {
    width: 100%;
    font-size: 1.4rem;
  }
  p,
  h1 {
    font-size: 1rem;
  }
  .wrapper div {
    font-size: 1rem;
  }
}
