* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/image/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.overall-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: white; */
}

h1 {
  margin: 1rem;
  color: white;
  font-weight: 800;
  font-size: 2rem;
}

.wrapper {
  width: 100%;
  background-color: #100f0f;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  color: white;
  font-size: 2rem;
  max-height: 300px;
  box-shadow: 1px 1px 1px white, -1px -1px 1px 1px white;
}
.wrapper div {
  text-align: center;
  padding: 5px;
}
p {
  font-size: 2rem;
  padding: 1rem;
  color: white;
  animation: 5s spin infinite;
  overflow: hidden;
}
@keyframes spin {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
.may {
  color: gray;
  font-weight: 800;
}

@media screen and (max-width: 700px) {
  .overall-container {
    width: 100%;
    padding: 0.5rem;
  }
  .wrapper {
    width: 100%;
    font-size: 1.4rem;
  }
  p,
  h1 {
    font-size: 1rem;
  }
  .wrapper div {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .overall-container {
    width: 97%;
    padding: 1rem;
  }
  .wrapper {
    width: 100%;
    font-size: 1.4rem;
  }
  p,
  h1 {
    font-size: 1rem;
  }
  .wrapper div {
    font-size: 1rem;
  }
}
